{% extends "phone_auth/base.html" %}

{% block title_block %}
    Change Password
{% endblock title_block %}

{% block body_block %}
    <!--suppress HtmlUnknownAttribute -->
<div class="phoneauthform">
    <h3 class="phoneauthform-title">Change Password</h3>
    <form class="phoneauthform-content" method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="fieldWrapper">
            {{ form.old_password.errors }}
            <label for="id_old_password">
                Old Password:
            </label>
            <input type="password"
                   id="id_old_password"
                   name="{{ form.old_password.html_name }}"
                   {% if form.old_password.field.required %}required{% endif %}>
        </div>

        <div class="fieldWrapper">
            {{ form.new_password1.errors }}
            <label for="id_new_password1">
                New Password:
            </label>
            <input type="password"
                   id="id_new_password1"
                   name="{{ form.new_password1.html_name }}"
                   {% if form.new_password1.field.required %}required{% endif %}>
        </div>

        <div class="fieldWrapper">
            {{ form.new_password2.errors }}
            <label for="id_new_password2">
                Confirm Password:
            </label>
            <input type="password"
                   id="id_new_password2"
                   name="{{ form.new_password2.html_name }}"
                   {% if form.new_password2.field.required %}required{% endif %}>
        </div>

        <button class="phoneauth-button" type="submit">Submit</button>
    </form>
</div>
{% endblock body_block %}