{% extends "phone_auth/base.html" %}

{% block title_block %}
    Reset Password
{% endblock title_block %}
    
{% block body_block %}

    <!--suppress HtmlUnknownAttribute -->
<div class="phoneauthform">
    <h3 class="phoneauthform-title">Reset Password</h3>
    <form class="phoneauthform-content" method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="fieldWrapper">
            {{ form.login.errors }}
            <label for="id_login">
                Phone, Email or Username:
            </label>
            <input type="text"
                   id="id_login"
                   name="{{ form.login.html_name }}"
                   {% if form.login.value %}
                        value="{{ form.login.value }}"
                   {% endif %}
                   {% if form.login.field.required %}required{% endif %}>
        </div>

        <button type="submit">Submit</button>
    </form>
</div>
{% endblock body_block %}