*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #f0fff0;
}

.phoneauthform {
  padding: 2rem 3rem;
  max-width: 500px;
  width: 100%;
  -webkit-box-shadow: 0 0 2px 2px #eee;
  box-shadow: 0 0 2px 2px #eee;
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.phoneauthform-title {
  font-size: 3rem;
  margin: 2rem 0;
  color: #0c4b33;
}

.phoneauthform-content label {
  display: block;
  font-size: 1.6rem;
  padding: 0.5rem 0;
  letter-spacing: 1px;
}

.phoneauthform-content input {
  padding: 1rem;
  font-size: 1.6rem;
  margin: 0.5rem 0;
  width: 100%;
  border: 1px solid #eee;
}

.phoneauthform-content button {
  padding: 1rem;
  width: 100%;
  font-size: 1.6rem;
  margin: 2rem 0;
  outline: 0;
  background-color: #0c4b33;
  opacity: 0.9;
  color: #fff;
  border: 0;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.phoneauthform-content button:hover {
  opacity: 1;
}
